{{ editor_body }}
<script type="text/javascript">
maxAttachedFiles = {{ context.max_attaches }};

function metaTags(element) {
	if (!$(element).is(':checked')) {
		$('#meta').hide();
		$('#tags').hide();
	} else {
		$('#meta').show();
		$('#tags').show();
	}
}
</script>

<!-- Multi attaches upload -->
{% include '/atm-multiupload.html' %}

{{ context.errors }}
{{ context.preview }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="return checkForm(this)">
<div class="material">
	  <div class="mat-title">{{ 'Add file'|lang }}</div>
	  <div class="mat-content">
          <ul class="spisok-all">
		  <li>
            <span class="siu_title"><strong><font color="red">*</font>{{ 'Section2'|lang }}:</strong></span>
            <span class="siu_data"><select name="cats_selector">{{ context.cats_selector }}</select></span>
          </li>
		  <li>
            <span class="siu_title"><strong><font color="red">*</font>{{ 'File name'|lang }}:</strong></span>
            <span class="siu_data"><input type="text" name="title" maxlength="128" value="{{ context.title }}"></span>
          </li>
		  
		  <li>
            <span class="siu_title"><strong><font color="red">*</font>{{ 'Download file'|lang }}:</strong></span>
            <span class="siu_data"><input type="file" name="attach_file" /></span>
          </li>
		   <li>
            <span class="siu_title"><strong>{{ 'To specify the mirror'|lang }}:</strong>{{ 'The mirror is a link to the file on the third party website'|lang }}</span>
            <span class="siu_data"><input size="70" type="text" name="download_url" value="{{ context.download_url }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>{{ 'The file size to the mirror'|lang }}:</strong></span>
            <span class="siu_data"><input size="70" type="text" name="download_url_size" value="{{ context.download_url_size }}" /></span>
          </li>
		  <li class="margin">jquery должен находиться в шаблоне?
он есть и выводить я его как только не пытался и <textarea class="form-control" rows="5" id="wysiwig_full" name="main_text"></textarea> то есть как в шаблоне и так как у вас в шаблоне по умолчанию но все равно простое текстовое поле.
Даже специально создал страницу в которую вставил весь код с той страницы 
            <textarea {{ editor_text }} id="editor" class="text-area" name="mainText">{{ context.mainText }}</textarea>
          </li>
		  <li>
            <span class="siu_title"><strong>{{ 'Download screenshots'|lang }}:</strong></span>
            <span class="siu_data" id="attachments">
                <input class="attachField" type="file" id="attach" multiple="multiple" name="attach[]">
				<div id="preloader">
					<span id="loader"><img src="/sys/img/ajaxload.gif" alt="loading"></span>
				</div>
				<div><progress style="display:none;"></progress></div>
				<br><a id="attaches-show-all" href="javascript:void(0);" onClick="AtomX.loadAllAttaches('{{ module }}'); $('#attaches-hide').show();">{{ 'Show all'|lang }}</a>
				<a id="attaches-hide" href="javascript:void(0);" onClick="$('.attaches-info, #attaches-hide').hide();">{{ 'Close'|lang }}</a>
				<div class="attaches-info" id="attaches-info"></div>
		   </span>
          </li>
		  <li>
            <span class="siu_title"><strong>{{ 'Configuring for search'|lang }}:</strong></span>
            <span class="siu_data"><input type="checkbox" onClick="metaTags(this);" /></span>
          </li>
		  <li id="meta" style="display:none;">
            <span class="siu_title"><strong>Meta description:</strong>{{ 'Need for faster indexing by search engines'|lang }}</span>
            <span class="siu_data"><textarea name="description">{{ context.description }}</textarea></span>
          </li>
		  <li id="tags" style="display:none;">
            <span class="siu_title"><strong>{{ 'Tags'|lang }}:</strong>{{ 'The words on which we will look for a file'|lang }}</span>
            <span class="siu_data"><input size="70" type="text" name="tags" value="{{ context.tags }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>{{ 'Developer'|lang }}:</strong>{{ 'The author of the file'|lang }}</span>
            <span class="siu_data"><input size="70" type="text" name="sourse" value="{{ context.sourse }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>{{ 'E-Mail of the author'|lang }}:</strong></span>
            <span class="siu_data"><input size="70" type="text" name="sourse_email" value="{{ context.sourse_email }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>{{ 'Reference to the source is'|lang }}:</strong>{{ 'Link to the website where did you get the news'|lang }}</span>
            <span class="siu_data"><input size="70" type="text" name="sourse_site" value="{{ context.sourse_site }}" /></span>
          </li>
		  {% if checkAccess([module,'record_comments_management']) %}
		  <li>
            <span class="siu_title"><strong>{{ 'Allow comments'|lang }}?:</strong></span>
            <span class="siu_data"><input type="checkbox" name="commented" value="1" {{ context.commented }} /></span>
          </li>
		  {% endif %}
		  {% if checkAccess([module,'hide_material']) %}
		  <li>
            <span class="siu_title"><strong>{{ 'Available for viewing'|lang }}:</strong></span>
            <span class="siu_data"><input type="checkbox" name="available" value="1" {{ context.available }} /></span>
          </li>
		  {% endif %}
		  <li>
            <input type="submit" name="submitForm" value="{{ 'Send'|lang }}" />
          </li>
		  </ul>
	  </div>
</div>
</form>
