
<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					
					
				</div>
				<div class="box-icons">
					
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4 class="page-header">Регистрация</h4>
				
		<form class="form-horizontal" role="form" name="addNewUserForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
		
				
		<div class="form-group has-error has-feedback">
						
						
		<label class="col-sm-2 control-label">Логин:</label>			
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-user"></i></span>
							  <input type="text" class="form-control" name="name" value="{{ context.login }}" placeholder="Логин">
							</div>
						</div>	
					</div>
		<div class="form-group has-error has-feedback">
				<label class="col-sm-2 control-label">Адрес e-mail:</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							  <input type="text" class="form-control" name="email" value="{{ context.email }}" placeholder="Адрес e-mail">
							</div>
						</div>	
					</div>				
				
			<div class="form-group has-error has-feedback">
				<label class="col-sm-2 control-label">Пароль:</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
							  <input type="password" name="password" class="form-control" placeholder="Пароль">
							</div>
						</div>	
					</div>	
           <div class="form-group has-error has-feedback">
				<label class="col-sm-2 control-label">Подтвердите пароль:</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
							  <input type="password" name="confirm" class="form-control" placeholder="Подтвердите пароль">
							</div>
						</div>	
					</div>	
	
 <h4 id="grid-options">Пол:</h4>
		<div class="form-group"> <span class="siu_title"><strong>Мужской</strong></span>
<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-success">
							<label>
								<input type="checkbox" name="pol" value="1" {{ context.mpol }} />
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
            </div>	
			
	<div class="form-group"> <span class="siu_title"><strong>Женский</strong></span>
<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-success">
							<label>
								<input type="checkbox" name="pol" value="2" {{ context.fpol }} />
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
            </div>			
			
		
					<div class="form-group has-success has-feedback">
					<label class="col-sm-2 control-label">{{ 'City'|lang }}</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-home"></i></span>
							  <input type="text" class="form-control" name="city" value="{{ context.user.city }}" placeholder="{{ 'City'|lang }}">
							</div>
						</div>
				</div>
					
				<div class="form-group has-success has-feedback">
						<label class="col-sm-2 control-label">Дата рождения:<br>(день;месяц;год)</label>
						<div class="col-sm-4">
							<select id="s2_with_tag" multiple="multiple" class="populate placeholder">
								<option>{{ context.bday_selector }}</option>
							</select>
							<select id="s2_with_tag" multiple="multiple" class="populate placeholder">
								<option> {{ context.bmonth_selector }}</option>
							</select>
							
							<select id="s2_with_tag" multiple="multiple" class="populate placeholder">
								<option> {{ context.byears_selector }}</option>
							</select>
								
						</div>
						
						
					</div>		
					
				
					
					<div class="form-group has-success has-feedback">
						
						
					<label class="col-sm-2 control-label">{{ 'Home page'|lang }}</label>	
					
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-unlink"></i></span>
							  <input type="text" class="form-control" name="url" value="{{ context.user.url }}" placeholder="{{ 'Home page'|lang }}">
							</div>
							
						</div>	
						
						
						
					</div>
					
					
					<div class="form-group has-success has-feedback">
						
						
						<label class="col-sm-2 control-label">{{ 'Telephone'|lang }}</label>
					
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							  <input type="text" class="form-control" placeholder="{{ 'Telephone'|lang }}">
							</div>
							
						</div>	
						
						
						
					</div>
					
					<div class="form-group has-success has-feedback">
						
						<label class="col-sm-2 control-label">Skype</label>
						
					
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-skype"></i></span>
							  <input type="text" class="form-control" placeholder="Skype">
							</div>
							
						</div>	
						
						
						
					</div>
				
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-styles">{{ 'Signature'|lang }}</label>
						<div class="col-sm-10">
								<textarea class="form-control" rows="5" id="wysiwig_simple"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-styles">{{ 'About myself'|lang }}</label>
						<div class="col-sm-10">
								<textarea class="form-control" rows="5" id="wysiwig_simple"></textarea>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
			<div class="form-group">
						
					
				
				
							
					 <label class="col-sm-2 control-label" for="form-styles">{{ 'Avatar'|lang }}:</label>
							<div class="col-sm-offset-2 col-sm-2">	
            <button type="cancel" class="btn btn-default btn-label-left"><input type="file" name="avatar" /></button>	
							
						</div>	
						
							
						
					</div>			
					
					<div class="form-group">
					
		<div class="form-group has-error has-feedback">
						
						
					<label class="col-sm-2 control-label">{{ 'Confirmation code'|lang }}:</label>		
				<div class="col-sm-3"><img onclick="this.src='/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{{ context.captcha }}" alt="" /><br>
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
							  <input type="text" name="keystring" class="form-control" placeholder="Введите код с картинки" value="{{ context.keystring }}" required >
							</div>
						</div>	

		  
				
						
						
					</div>			
					
					
						<div class="col-sm-offset-2 col-sm-2">
							<button class="btn btn-default btn-label-left" type="submit"name="submitForm" value="{{ 'Register'|lang }}">
							<span><i class="fa fa-clock-o txt-danger"></i></span>
								Зарегистрироваться
							</button>
						</div>
					
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
// Run Select2 plugin on elements
function DemoSelect2(){
	$('#s2_with_tag').select2({placeholder: "Select OS"});
	$('#s2_country').select2();
}
// Run timepicker
function DemoTimePicker(){
	$('#input_time').timepicker({setDate: new Date()});
}
$(document).ready(function() {
	// Create Wysiwig editor for textare
	TinyMCEStart('#wysiwig_simple', null);
	TinyMCEStart('#wysiwig_full', 'extreme');
	// Add slider for change test input length
	FormLayoutExampleInputLength($( ".slider-style" ));
	// Initialize datepicker
	$('#input_date').datepicker({setDate: new Date()});
	// Load Timepicker plugin
	LoadTimePickerScript(DemoTimePicker);
	// Add tooltip to form-controls
	$('.form-control').tooltip();
	LoadSelect2Script(DemoSelect2);
	// Load example of form validation
	LoadBootstrapValidatorScript(DemoFormValidator);
	// Add drag-n-drop feature to boxes
	WinMove();
});

</script>

