<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					
					
				</div>
				<div class="box-icons">
					
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4 class="page-header">{{ 'Registration'|lang }}</h4>
				
		<form class="form-horizontal" role="form" name="addNewUserForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data">
{{ context.errors }}		
				
		<div class="form-group has-error has-feedback">
						
						
		<label class="col-sm-2 control-label">{{ 'Login'|lang }}</label>			
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-user"></i></span>
							  <input type="text" class="form-control" name="name" value="{{ context.user.name }}" placeholder="{{ 'Login'|lang }}">
							</div>
						</div>	
					</div>
		<div class="form-group has-error has-feedback">
				<label class="col-sm-2 control-label">{{ 'E-mail'|lang }}</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							  <input type="text" class="form-control" name="email" value="{{ context.user.email }}" placeholder="{{ 'E-mail'|lang }}">
							</div>
						</div>	
					</div>				
				
			<div class="form-group has-error has-feedback">
				<label class="col-sm-2 control-label">{{ 'Password'|lang }}</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
							  <input type="password" name="password" class="form-control" placeholder="{{ 'Password'|lang }}">
							</div>
						</div>	
					</div>	
           <div class="form-group has-error has-feedback">
				<label class="col-sm-2 control-label">{{ 'Confirm password'|lang }}</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
							  <input type="password" name="confirm" class="form-control" placeholder="{{ 'Confirm password'|lang }}">
							</div>
						</div>	
					</div>	
	
 <h4 id="grid-options">{{ 'Sex'|lang }}</h4>
		<div class="form-group"> <span class="siu_title"><strong>{{ 'Man'|lang }}</strong></span>
<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-success">
							<label>
								<input type="checkbox" name="pol" value="1" {{ context.user.mpol }} />
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
            </div>	
			
	<div class="form-group"> <span class="siu_title"><strong>{{ 'Women'|lang }}</strong></span>
<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-success">
							<label>
								<input type="checkbox" name="pol" value="2" {{ context.user.fpol }} />
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
            </div>			
			
		
					<div class="form-group has-success has-feedback">
					<label class="col-sm-2 control-label">{{ 'City'|lang }}</label>
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-home"></i></span>
							  <input type="text" class="form-control" name="city" value="{{ context.user.city }}" placeholder="{{ 'City'|lang }}">
							</div>
						</div>
				</div>
				
					
					
				<div class="form-group has-success has-feedback">
						<label class="col-sm-2 control-label">{{ 'Date of birth'|lang }}:<br>{{ '(day, month, year)'|lang }}</label>
						<div class="col-sm-4">
							<select id="s2_with_tag" multiple="multiple" class="populate placeholder">
								<option>{{ context.user.bday_selector }}</option>
							</select>
							<select id="s2_with_tag" multiple="multiple" class="populate placeholder">
								<option> {{ context.user.bmonth_selector }}</option>
							</select>
							
							<select id="s2_with_tag" multiple="multiple" class="populate placeholder">
								<option> {{ context.user.byears_selector }}</option>
							</select>
								
						</div>
						
						
					</div>		
					
				
					
					<div class="form-group has-success has-feedback">
						
						
					<label class="col-sm-2 control-label">{{ 'Home page'|lang }}</label>	
					
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-unlink"></i></span>
							  <input type="text" class="form-control" name="url" value="{{ context.user.url }}" placeholder="{{ 'Home page'|lang }}">
							</div>
							
						</div>	
						
						
						
					</div>
					
					
					<div class="form-group has-success has-feedback">
						
						
						<label class="col-sm-2 control-label">{{ 'Telephone'|lang }}</label>
					
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-phone-square"></i></span>
							  <input type="text" class="form-control" placeholder="{{ 'Telephone'|lang }}">
							</div>
							
						</div>	
						
						
						
					</div>
					
					<div class="form-group has-success has-feedback">
						
						<label class="col-sm-2 control-label">Skype</label>
						
					
				<div class="col-sm-3">
							<div class="input-group">
							  <span class="input-group-addon"><i class="fa fa-skype"></i></span>
							  <input type="text" class="form-control" placeholder="Skype">
							</div>
							
						</div>	
						
						
						
					</div>
				
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-styles">{{ 'Signature'|lang }}</label>
						<div class="col-sm-10">
								<textarea class="form-control" rows="5" id="wysiwig_simple"></textarea>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-2 control-label" for="form-styles">{{ 'About myself'|lang }}</label>
						<div class="col-sm-10">
								<textarea class="form-control" rows="5" id="wysiwig_simple"></textarea>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
			<div class="form-group">
						
					
				
				<div class="col-sm-4">
							
					 {{ 'Avatar'|lang }}:{{ 'Shows a small picture next to your answers, materials'|lang }}	
							<div class="col-sm-offset-2 col-sm-2">	
            <button type="cancel" class="btn btn-default btn-label-left"><input type="file" name="avatar" /></button>	
							
						</div>	
						
							</div>
						
					</div>			
					
					<div class="form-group">
					
		<div class="form-group has-error has-feedback">
						
						
					<label class="col-sm-2 control-label">{{ 'Confirmation code'|lang }}:</label>
{{ context.captcha_text }}
          
			{{ context.captcha }}
		  
						
					</div>			
					
				
					
						<div class="col-sm-offset-2 col-sm-2">
							<button class="btn btn-default btn-label-left" type="submit"name="submitForm" value="{{ 'Register'|lang }}">
							<span><i class="fa fa-clock-o txt-danger"></i></span>
								{{ 'Register'|lang }}
							</button>
						</div>
					
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


