<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<span>{{ 'Sort by'|lang }}:</span>
				</div>
				
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							<th>{{ getOrderLink(['status','Группа']) }}</th>
							<th>{{ getOrderLink(['name','Имя']) }}</th>
							<th>{{ getOrderLink(['puttime','Дата регистрации']) }}</th>
							
						</tr>
					</thead>
					<tbody>{% if entities %}
             {% for user in entities %}
					<!-- Start: list_row -->
						<tr>
							<td>{{ user.group }}</td>
							<td><img class="img-rounded" src="{{ getAvatar(user.id) }}" alt="{{ user.name }}"><a href="{{ www_root }}/users/info/{{ user.id }}">{{ user.name }}</a></td>
							<td>{{ AtmDate(user.puttime) }}</td>
							
						</tr>
						{% endfor %}
            {% endif %}
					<!-- End: list_row -->
					</tbody>
					<tfoot>
						<tr>
							<th>{{ getOrderLink(['status','Группа']) }}</th>
							<th>{{ getOrderLink(['name','Имя']) }}</th>
							<th>{{ getOrderLink(['puttime','Дата регистрации']) }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
