<form name="loginForm" action="{{ context.action }}" method="POST" id="sendForm" onsubmit="sendu(this); return false">
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="box">
				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">Авторизация</h3>
					</div>
					<div class="form-group">
						<label class="control-label">Логин:</label>
						<input type="text" class="form-control" name="username" />
					</div>
					<div class="form-group">
						<label class="control-label">Пароль:</label>
						<input type="password" class="form-control" name="password" />{{ context.form_key }}
					</div>				
<div class="form-group"><label class="col-sm-5 control-label">Запомнить</label>
  <div class="col-sm-5">
						<div class="toggle-switch toggle-switch-success">
							<label>
								<input type="checkbox" name="autologin" value="1" />
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>	
					</div>	  
<div class="text-center">		 
			<input type="submit" class="btn btn-primary name="submitForm" value="Войти" />
			{{ context.new_password }}
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>