<div class="row" id="test">
		
		{% if messages %}
             {% for message in messages %}
					<div class="row one-list-message msg-inbox-item" id="msg-one">
						<div class="col-xs-1 checkbox">
							<label>
								<input type="checkbox"> <a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }}</a>
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="col-xs-9 message-title"><b>Happy New Year</b> Dear friend! It's title of this message I send Dear friend! It's title of this message I send Dear friend! It's title of this message I send</div>
						<div class="col-xs-2 message-date">{{ AtmDate(message.sendtime) }}</div>
					</div>
		
					<div class="row one-list-message msg-one-item" style="display: none;">
						<div class="box">
							<div class="avatar">
								<img src="{{ getAvatar(message.user.id) }}" alt="Jane" />
							</div>
							<div class="page-feed-content">
								<small class="time">{{ message.user.name }}, {{ AtmDate(message.sendtime) }}</small>
								<p>{{ message.text }}</p>
								<div class="likebox">
									<ul class="nav navbar-nav">
										<li><i class="fa fa-thumbs-up"></i> 138</li>
										<li><i class="fa fa-thumbs-down"></i> 47</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
            {% endif %}
				</div>
			
	
<script type="text/javascript">
// Add listener for redraw menu when windows resized
window.onresize = MessagesMenuWidth;
$(document).ready(function() {
	// Add class for correctly view of messages page
	$('#content').addClass('full-content');
	// Run script for change menu width
	MessagesMenuWidth();
	$('#content').on('click','[id^=msg-]', function(e){
		e.preventDefault();
		$('[id^=msg-]').removeClass('active');
		$(this).addClass('active');
		$('.one-list-message').slideUp('fast');
		$('.'+$(this).attr('id')+'-item').slideDown('fast');
	});
	$('html').animate({scrollTop: 0},'slow');
});
</script>


<div class="material">
	  <div class="mat-title">Почтовый ящик(Список переписок)</div>
	  <div class="mat-content">
	  <div class="userblock">
		  <ul class="userslinks">
		         <li><a href="{{ www_root }}/users/info/{{ fps_user_id }}">Мой профиль</a></li>
                 <li class="active"><a href="{{ www_root }}/users/pm/">Сообщения</a></li>
				 <li><a href="{{ www_root }}/users/send_pm_form/">Отправить ЛС</a></li> 
		  </ul>
	      <div class="userinfo">
		    <ul class="userlist">
		     {% if messages %}
             {% for message in messages %}
                            <li {% if message.viewed != 1 %}class="send"{% endif %}>
							       <div class="userlistavatar" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'"><img src="{{ getAvatar(message.user.id) }}" class="avatar" alt=""/></div>
							        <div class="listuser">
								          <ul class="listuserbuttons">
									          <li><a href="{{ www_root }}/users/info/{{ message.user.id }}" class="button2">Профиль собеседника</a></li>
                                              <li>{{ message.delete }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></li>									
								          </ul>
								          <h3 class="userlisttitle"><a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }}</a>
										  <span style="color:{% if message.direction == 'in'  %}blue;">&rArr;{% else %}red;">&lArr;{% endif %}</span>
										  </h3>
										  <div class="text" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'" style="cursor: pointer;">
			                                {{ message.text }}
		                                  </div>
								          <div>
								               <span>Последнее обновление: {{ AtmDate(message.sendtime) }}</span>
								          </div>
							        </div>
                            </li>
			{% endfor %}
            {% endif %}
	           <li>	
			     Удалить отмеченные сообщения: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_messages_user/');" value="(0)">
	             <div style="display:none;"><form id="actionPack" name="actionPack" action="" method="POST" onsubmit="sendu('actionPack');return false;"></form></div>
	           <li>
           </ul>	
	      </div>
	  </div>
    </div>
	</div>