<div class="box">
<div class="box-content">
<h3 class="page-header">Правила регистрации</h3>
{{ context.rules }}
<div class="form-group">
<a href="{{ context.reg_url }}" button type="button" class="btn btn-default btn-label-left">
<span><i class="fa fa-check-square"></i></span>Я согласен</a>
 </div>   
</div>
</div>