
<div class="well">
	<p class="lead">Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes <a href="http://getbootstrap.com/css/#grid-example-basic">predefined classes</a> for easy layout options, as well as powerful <a href="http://getbootstrap.com/css/#grid-less">mixins for generating more semantic layouts</a>.</p>
	<h3 id="grid-options">Column sizing</h3>
	<p>See how aspects of the Bootstrap grid system work across multiple devices with a handy table.</p>
	<div class="row show-grid-forms">
		<div class="col-sm-2">
			<input type="text" class="form-control" placeholder="col-sm-2">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" placeholder="col-sm-2">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" placeholder="col-sm-2">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" placeholder="col-sm-2">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" placeholder="col-sm-2">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" placeholder="col-sm-2">
		</div>
	</div>
	<div class="row show-grid-forms">
		<div class="col-sm-3">
			<input type="text" class="form-control" placeholder="col-sm-3">
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" placeholder="col-sm-3">
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" placeholder="col-sm-3">
		</div>
		<div class="col-sm-3">
			<input type="text" class="form-control" placeholder="col-sm-3">
		</div>
	</div>
	<div class="row show-grid-forms">
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="col-sm-4">
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="col-sm-4">
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" placeholder="col-sm-4">
		</div>
	</div>
	<div class="row show-grid-forms">
		<div class="col-sm-6">
			<input type="text" class="form-control" placeholder="col-sm-6">
		</div>
		<div class="col-sm-6">
			<input type="text" class="form-control" placeholder="col-sm-6">
		</div>
	</div>
	<div class="row show-grid-forms">
		<div class="col-sm-12">
			<input type="text" class="form-control" placeholder="col-sm-12">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-bar-chart-o"></i>
					<span>Checkboxes</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4 class="page-header">Checkboxes in columns</h4>
				<div class="row form-group">
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked> One
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Two
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Three
								<i class="fa fa-square-o"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Four
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Five
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Six
								<i class="fa fa-square-o"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Seven
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Eight
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Nine
								<i class="fa fa-square-o"></i>
							</label>
						</div>
					</div>
				</div>
				<h4 class="page-header">Checkboxes inline</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<div class="checkbox-inline">
							<label>
								<input type="checkbox" checked> One
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox-inline">
							<label>
								<input type="checkbox"> Two
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox-inline">
							<label>
								<input type="checkbox"> Three
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox-inline">
							<label>
								<input type="checkbox"> Four
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox-inline">
							<label>
								<input type="checkbox"> Five
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox-inline">
							<label>
								<input type="checkbox"> Six
								<i class="fa fa-square-o"></i>
							</label>
						</div>
						<div class="checkbox-inline">
							<label>
								<input type="checkbox"> Seven
								<i class="fa fa-square-o"></i>
							</label>
						</div>
					</div>
				</div>
				<h4 class="page-header">Small sizes</h4>
				<div class="row form-group">
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox" checked> One
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Two
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Three
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Four
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Five
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Six
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Seven
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Eight
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Nine
								<i class="fa fa-square-o small"></i>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-circle"></i>
					<span>Radios</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4 class="page-header">Radios in columns</h4>
				<div class="row form-group">
					<div class="col-sm-4">
						<div class="radio">
							<label>
								<input type="radio" name="radio" checked> One
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Two
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Three
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Four
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Five
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Six
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Seven
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Eight
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Nine
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
					</div>
				</div>
				<h4 class="page-header">Radios inline</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<div class="radio-inline">
							<label>
								<input type="radio" name="radio-inline" checked> One
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="radio-inline"> Two
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="radio-inline"> Three
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="radio-inline"> Four
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="radio-inline"> Five
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="radio-inline"> Six
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="radio-inline"> Seven
								<i class="fa fa-circle-o"></i>
							</label>
						</div>
					</div>
				</div>
				<h4 class="page-header">Small sizes</h4>
				<div class="row form-group">
					<div class="col-sm-4">
						<div class="radio">
							<label>
								<input type="radio" name="radio" checked> One
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Two
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Three
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Four
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Five
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Six
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Seven
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Eight
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="radio"> Nine
								<i class="fa fa-circle-o small"></i>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-bar-chart-o"></i>
					<span>Selects</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4 class="page-header">Basic select</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<select class="form-control">
							<option>Android</option>
							<option>Sailfish OS</option>
							<option>CyanogenMod</option>
							<option>FirefoxOS</option>
							<option>MeeGo</option>
						</select>
					</div>
				</div>
				<h4 class="page-header">Multiple select</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<select multiple class="form-control">
							<option>Android</option>
							<option>Sailfish OS</option>
							<option>CyanogenMod</option>
							<option>FirefoxOS</option>
							<option>MeeGo</option>
						</select>
					</div>
				</div>
				<h4 class="page-header">Select2 plugin</h4>
				<div class="row form-group">
					<div class="col-sm-12">
						<select id="el2">
							<option>Android</option>
							<option>Sailfish OS</option>
							<option>CyanogenMod</option>
							<option>FirefoxOS</option>
							<option>MeeGo</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-circle"></i>
					<span>Toggles and raiting</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content">
				<h4 class="page-header">Toggle checkbox</h4>
				<div class="row form-group">
					<div class="col-sm-2">
						<div class="toggle-switch">
							<label>
								<input type="checkbox">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-danger">
							<label>
								<input type="checkbox">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-warning">
							<label>
								<input type="checkbox" checked>
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-info">
							<label>
								<input type="checkbox">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-success">
							<label>
								<input type="checkbox" checked>
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-primary">
							<label>
								<input type="checkbox">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
				</div>
				<h4 class="page-header">Toggle radio</h4>
				<div class="row form-group">
					<div class="col-sm-2">
						<div class="toggle-switch">
							<label>
								<input type="radio" name="toggle-switch">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-danger">
							<label>
								<input type="radio" name="toggle-switch" checked>
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-warning">
							<label>
								<input type="radio" name="toggle-switch">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-info">
							<label>
								<input type="radio" name="toggle-switch">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-success">
							<label>
								<input type="radio" name="toggle-switch">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="toggle-switch toggle-switch-primary">
							<label>
								<input type="radio" name="toggle-switch">
								<div class="toggle-switch-inner"></div>
								<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
// Run Select2 on element
function Select2Test(){
	$("#el2").select2();
}
$(document).ready(function() {
	// Load script of Select2 and run this
	LoadSelect2Script(Select2Test);
	WinMove();
});
</script>
