		<div class="box">
     <div id="dashboard_tabs" class="col-xs-12 col-sm-100%">
<div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
<div id="ow-marketplace" class="col-sm-12 col-md-100%">

		<a class="expand-link" title="Что бы развернуть или свернуть статью кликните по названию"><h3 class="page-header">{{ entity.title }}</h3></a>
	      <pre><b>
		  {{ entity.main_text }}
          </b></pre> 
		        
				<br />
				{% if entity.tags %}
				<br /><b>Теги: </b>{% for tag in entity.tags %}<a href="{{ www_root }}/stat/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
				{% endif %}
				{% if entity.sourse %}<br /><b>Источник:</b> {{ entity.sourse }}{% endif %}
                
                {% if entity.attaches_list and context.locked_attaches == 0 %}
                  <br />
                  
				 Прикрепленные файлы:
                      {% if checkAccess([module,'download_files']) %}
                          {% for file in entity.attaches_list %}
                            <a href="{{ file.url }}">{{ file.name }} ({{ file.size }})</a><br/>
                          {% endfor %}
                      {% else %}
                      У вас нет прав для скачивания прикрепленных файлов
                      {% endif %}
                  
                {% endif %}
                
			
<button type="button" class="btn btn-default">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-user"></i> 
</div>
<a href="{{ entity.profile_url }}">
{{ entity.author.name }}
</a>
</button>

<button type="button" class="btn btn-default">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-tags"></i>
</div>
<a href="{{ entity.category_url }}">{{ entity.category.title }}</a>
</button> 

<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-check-circle-o"></i>
 {{ AtmDate(entity.date) }}
 </div>
 </button>				  

<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-eye"></i> 
{{ entity.views }}
</div>
</button>
				  
{% if entity.commented %}
<button type="button" class="btn btn-default" disabled="disabled">
<div class="col-xs-6 col-md-3 col-sm-4">
<i class="fa fa-comment"></i> 
{{ entity.comments }}
</div>
</button>
{% endif %}

				  <br />
				  
		
{{ relmat }}
</div>
</div>
</div></div>
<script>
// Create fancybox2 gallery
function DemoGallery(){
	$('.fancybox').fancybox({
		openEffect	: 'none',
		closeEffect	: 'none'
	});
}
$(document).ready(function() {
	// Load Fancybox2 and make gallery in callback
	LoadFancyboxScript(DemoGallery);
});
</script>