{{ editor_body }}
<div class="material addcomment">
    <form method="POST" id="sendForm" name="sendForm" action="{{ context.action }}" onsubmit="sendu(this);return false;">
        <p class="page-header"><h4>Добавление комментария</h4></p>
        <div class="form-group">
           
                <input type="text" name="reply" value="{{ context.reply }}" style="display: none" />
                {% if fps_user_id == 0 %}
                    
                        <span class="siu_title"><strong><font color="red">*</font>Псевдоним:</strong></span>
                        <span class="siu_data"><input {{ context.disabled }} type="text" name="login" size="47" value="{{ context.add_comment_name }}" /></span>
                    
                {% endif %}
                {% if context.add_comment_captcha %}
                  
                        <span class="siu_title"><strong><font color="red">*</font>Код подтверждения:</strong>Введите код с картинки, для проверки, что вы не робот.</span>
                        <span class="siu_data">{{ context.add_comment_captcha }}</span>
                    
                {% endif %}
                <div class="col-sm-12">
                    <textarea {{ editor_text }} name="message" >{{ context.add_comment_message }}</textarea>
               </div>
                <div class="form-group">
						<div class="col-sm-offset col-sm-2"><br/>
							<button type="cancel" class="btn btn-default btn-label-left">
							<span><i class="fa fa-clock-o txt-danger"></i></span>
								{{ 'Send'|lang }}
							</button>
          </div>
					</div>
				
				
            
        </div>
    </form>
</div>
