<div class="box">
				<div class="box-content">
					<div class="text-center">
					<p class="page-header"><code>{{ 'Information'|lang }}</code></p>
  {% if info_message|typeof  == 'array' %}
	<pre>
	{% for error in info_message %}
		{{ error }}
	{% endfor %}
	</pre>
  {% else %}
	{{ info_message }}
  {% endif %}
 </div>
			</div>
		</div>