
<div class="col-xs-12"></br><h4 class="page-header">Комментарии</h4></div>{% if entities %}
 {% for comment in entities %}
 <div class="row"><div class="col-xs-12 page-feed">

<div class="box">
<div class="avatar_com">
{{ comment.avatar }}
</div>
<div class="page-feed-content">
<small class="time">{{ comment.name_a }}:&nbsp;{{ AtmDate(comment.date) }}</small>
{{ comment.message }}
</div>
</div>
</div></div>
{% endfor %}
{% endif %}
