{% if entities %}
 {% for comment in entities %}
 <div class="row"><div class="col-xs-12 page-feed">
 <p class="page-header"><h4>Комментарии</h4></p>

<div class="box">
<div class="avatar">
{{ comment.avatar }}
</div>
<div class="page-feed-content">
<small class="time">{{ comment.name_a }}:&nbsp;{{ AtmDate(comment.date) }}</small>
{{ comment.message }}
</div>
</div>
</div></div>
{% endfor %}
{% endif %}
