<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="{{ get_url('/') }}">{{ site_title }}</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
						<form method="POST" action="{{ get_url('/search/') }}"> 
						<div id="search">
						
							<input type="text" placeholder="search"/>
							<i class="fa fa-search"></i>
						</div></form> 
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
						
						{% if atm_user.unread_pm > 0 %}	
						<li class="hidden-xs">
								<a href="{{ get_url('/users/pm/') }}">
									<i class="fa fa-envelope"></i>
									<span class="badge"> {{ atm_user.unread_pm }}</span>
								</a>
						</li>
	                   {% else %}
					   {% endif %}


							
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									{% if fps_user_id %}<div class="avatar">
										<img src="{{ fps_user_avatar_url }}" class="img-rounded" alt="avatar" />
									</div>{% endif %}
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">Welcome,</span>
										<span>{{ fps_user_name }}</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
									{% if fps_user_id %}
										<a href="{{ personal_page_link }}">
											<i class="fa fa-user"></i>
											<span>{{ 'Profile'|lang }}</span>
										</a>
									</li>
									<li>
										<a href="{{ www_root }}/users/pm/">
											<i class="fa fa-envelope"></i>
											<span>{{ 'Message'|lang }}</span>
										</a>
									</li>
									
									{% if fps_admin_access == 1 %}
									<li>
										<a href="{{ get_url('/admin/', false, false) }}" target="_blank">
											<i class="fa fa-tasks"></i>
											<span>{{ 'panel'|lang }}</span>
										</a>
										{% endif %}
									</li>
									<li>
										<a href="{{ www_root }}/users/edit_form/">
											<i class="fa fa-cog"></i>
											<span>{{ 'Edit profile'|lang }}</span>
										</a>
									</li>
									<li>
										<a href="{{ get_url('/users/logout/') }}">
											<i class="fa fa-power-off"></i>
											<span>{{ 'Exit'|lang }}</span>
										</a>
									</li>
									{% else %}
									<li>
										<a href="{{ get_url('/users/add_form/') }}">
											<i class="fa fa-pencil-square-o"></i>
											<span>{{ 'Registration'|lang }}</span>
										</a>
									</li>
									<li>
										<a href="{{ get_url('/users/login_form/') }}">
											<i class="fa fa-power-off"></i>
											<span>{{ 'Enter'|lang }}</span>
										</a>
									</li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>