<div id="content" class="col-xs-12 col-sm-10">
<div class="preloader">
<img src="{{ template_path }}/img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
</div>	
<div class="row">
<div id="breadcrumb" class="col-xs-12">
<ol class="breadcrumb">
<li>{{ navigation }}</li>
</ol>
</div>
</div>
	{% if module == 'pages' %}
		{% set custom_add_link = get_url('/news/add_form/') %}
	{% else %}
		{% set custom_add_link = get_url('/' ~ module ~ '/add_form/') %}
	{% endif %}
	
{{ content }}
{{ comments_pagination }}
{{ comments }}
{{ comments_pagination }}
{{ comments_form }}

</div>