{% if forum_cats %}
{% for category in forum_cats %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-table"></i>
					<span><a href="{{ category.cat_url }}">{{ category.title }}</a></span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-striped table-bordered table-hover table-heading no-border-bottom">
					<thead>
						<tr>
							<th></th>
							<th>{{ 'Forum'|lang }}</th>
							<th>{{ 'Topics'|lang }}</th>
							<th>{{ 'Answers'|lang }}</th>
							<th>{{ 'Update'|lang }}</th>
						</tr>
					</thead>
					{% if category.forums %}
	  {% for forum in category.forums %}<tbody>
						<tr> 
							<td><img class="iconforum" src="{{ forum.icon_url }}" /></td>
							<td><a href="{{ forum.forum_url }}">{{ forum.title }}</a><br><code>{{ forum.description }}</code></td>
							<td>{{ forum.themes }}</td>
							<td>{{ forum.posts }}</td>
							<td>{{ forum.last_post }}</td>
						</tr>
					</tbody>
		{% endfor %}
			
			
		{% endif %}{% if forum.subforums %}
			
		{% for subforum in forum.subforums %}
				<li><a href="{{ www_root }}/forum/view_forum/{{ subforum.id }}">{{ subforum.title }}</a>{% if subforum.description %}({{ subforum.description }}){% endif %}<b>;</b></li>
		
			{% if forum.admin_bar %}
			{{ forum.admin_bar }}
			{% endif %}
		
		
	
	  {% endfor %}
	  {% endif %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endfor %} 
{% endif %}