<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="description" content="description">
		<meta name="author" content="DevOOPS">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ template_path }}/plugins/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="{{ template_path }}/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		<link href="{{ template_path }}/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
		<link href="{{ template_path }}/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
		<link href="{{ template_path }}/plugins/xcharts/xcharts.min.css" rel="stylesheet">
		<link href="{{ template_path }}/plugins/select2/select2.css" rel="stylesheet">
		<link href="{{ template_path }}/css/style.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
<body>
<!--Start Header-->


{% include 'includes/header.html' %}
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		{% include 'includes/block_menu.html' %}
		<!--Start Content-->
		
			
		{% include 'includes/navigation.html' %}	
			
		
		<!--End Content-->
	</div>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{{ template_path }}/plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="{{ template_path }}/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ template_path }}/plugins/bootstrap/bootstrap.min.js"></script>
<script src="{{ template_path }}/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="{{ template_path }}/plugins/tinymce/tinymce.min.js"></script>
<script src="{{ template_path }}/plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{{ template_path }}/js/devoops.js"></script>
</body>
</html>
