{% if forum.subforums %}
<div class="forumblock">
	  <div class="forumtitle"><a href="{{ forum.cat_url }}">{{ forum.cat_name }}</a></div>
	  <div class="forumhead"><div class="forstatus"></div><div class="forname">{{ 'Forum'|lang }}</div><div class="forteme">{{ 'Topics'|lang }}</div><div class="foranswer">{{ 'Answers'|lang }}</div><div class="fornewmess">{{ 'Update'|lang }}</div></div>
	  {% if forum.subforums %}
	  {% for subforum in forum.subforums %}
	  <div class="forumcontent">
	    <div class="forstatus"><span><img class="iconforum" src="{{ subforum.icon_url }}" /></span></div><div class="forname"><div class="mozilacostil">
			<div class="foruminfo"><a class="namefor" href="{{ subforum.forum_url }}">{{ subforum.title }}</a>
			<div class="fordescription">{{ subforum.description }}</div>
		</div>
			{% if subforum.admin_bar %}<div class="moderforum">{{ subforum.admin_bar }}</div>{% endif %}
		</div></div><div class="forteme">{{ subforum.themes }}</div><div class="foranswer">{{ subforum.posts }}</div><div class="fornewmess">{{ subforum.last_post }}</div>
	  </div>
	  {% endfor %}
	  {% endif %}
</div>
{% endif %}

    {% if add_link %}
	<a href="{{ www_root }}/forum/add_theme_form/{{ forum.id }}" class="btn btn-primary btn-lg">{{ 'New topic'|lang }}</a>
	{% endif %}
	<span class="meta">{{ meta }}</span> 
	<div class="paginator">
       <button type="button" class="btn btn-primary btn-lg">{{ pagination }}</button>
    </div>
	<div class="forumblock">
	  <div class="forumtitle">{{ forum.title }}</div>
	  <div class="forumhead"><div class="forstatus"></div><div class="fornametemes">{{ getOrderLink(['title','Topics'|lang]) }}</div><div class="foranswerteme">{{ getOrderLink(['posts','Answers'|lang]) }}</div><div class="forviuwteme">{{ getOrderLink(['views','Pageviews'|lang]) }}</div><div class="forautorteme">{{ 'Author'|lang }}</div><div class="fornewposts">{{ getOrderLink(['last_post','Update'|lang]) }}</div></div>
      {% if themes %}
	  {% for theme in themes %}  
	  <div class="forumcontent {{ theme.fps_css_class }}">
		<div class="forstatus"><span>{{ theme.themeicon }}</span></div>
		<div class="fornametemes">
			<div class="mozilacostil">
				<div class="forinfoteme">
					{{ theme.importantly }}<a class="namefor" href="{{ theme.theme_url }}">{{ theme.title }}</a>{{ theme.near_pages }}
					<div class="fordescriptionteme">{{ theme.description|escape }}</div>
				</div>
				<!--
				{% if theme.moved_from %}
				<div style="border:none; position:absolute; right:80px; top:17px; width:200px; height:20px; text-overflow:ellipsis; white-space: nowrap; overflow:hidden; font-size:12px;">
					{% if forum.id == theme.moved_from %}
						Перенесено в <a href="/forum/view_forum/{{ theme.toforum.id }}">{{ theme.toforum.title }}</a>
					{% else %}
						Перенесено из <a href="/forum/view_forum/{{ theme.fromforum.id }}">{{ theme.fromforum.title }}</a>
					{% endif %}
				</div>
				{% endif %}
				-->
				{% if theme.adminbar %}
				<div class="moderforum">{{ theme.adminbar }}</div>
				{% endif %}
			</div>
		</div>
		<div class="foranswerteme">{{ theme.posts }}</div>
		<div class="forviuwteme">{{ theme.views }}</div>
		<div class="forautorteme">{{ theme.author.name }}</div>
		<div class="fornewposts">{{ theme.last_post }}<br />{{ 'Message from'|lang }}: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_page }}</div></div>
	  {% endfor %}
	  {% else %}
	  <div class="forumcontent">{{ 'Topic not yet created'|lang }}.</div>
	  {% endif %}
	</div>
	 
	<div class="paginator">
       <div class="pages">{{ pagination }}</div>
    </div>
	<div style="clear:both;"></div>
	
     <div class="material">
           <div class="inftitle"> {{ 'In this forum'|lang }} <b>{{ forum.themes }}</b> {{ 'the topic. The page displays'|lang }}<b>{{ forum.count_themes_here }}</b> тем.</td></div>
	       <div class="infcont">{{ 'Forum view'|lang }}: {{ forum.who_is_here }}</div>
	</div>
	
	<div class="material">
           <div class="inftitle">{{ 'Status icons the forum'|lang }}</div>
	       <div class="infcont">
		       <ul class="spisokico">
					<li>
						<span class="siu_title"><img src="{{ template_path }}/img/folder.gif" /></span>
						<span class="siu_data">{{ 'You have no unread messages'|lang }}</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ template_path }}/img/folder_new.gif" /></span>
						<span class="siu_data">{{ 'Unread messages'|lang }}</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ template_path }}/img/folder_lock.gif" /></span>
						<span class="fa fa-times">{{ 'Closed topic'|lang }}</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ template_path }}/img/folder_lock_new.gif" /></span>
						<span class="siu_data">{{ 'Closed topic with new messages'|lang }}</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ template_path }}/img/folder_hot.gif" /></span>
						<span class="siu_data">{{ 'Hot topic'|lang }}</span>
		            </li>
					<li>
						<span class="siu_title"><img src="{{ template_path }}/img/folder_hot_new.gif" /></span>
						<span class="siu_data">{{ 'Hot topic with new messages'|lang }}</span>
		            </li>
		       </ul>
		   </div>
	</div>
	
	